<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Блог {% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="navbar">
    <div class="tabs">
        <a class="tab" id="maintab" href="{% url 'main' %}">Главная</a>
        {% if user.is_authenticated %}
            <a class="tab" href="{% url 'user_posts' %}">Мои посты</a>
            <a class="tab" href={% url 'add' %}>&#10010;</a>
        {% endif %}
    </div>
    <div class="profile">
        {% if user.is_authenticated %}
            <span>Привет, {{ user.username }}</span>
            <form method='post' action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Выйти</button>
            </form>
        {% else %}
            <button>
                <a class="link" href="{% url 'login' %}">Войти</a>
            </button>
            <button>
                <a class="link" href="{% url 'signup' %}">Зарегистрироваться</a>
            </button>
        {% endif %}
    </div>
</div>

<div class="content">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}
    {% endblock %}
</div>
</body>
</html>